{% extends "navigation.html" %}

{% block title %} Explora {% endblock %}

{% block content %}
  <body>
    <div class="container mx-auto py-12">
      <div class="grid grid-cols-4 gap-6">
        {% for document in documents %}
        <div class="h-100 bg-white border border-gray-200 rounded-3xl shadow">
            <div class="w-full h-52">
                <img src="{{ document.image }}" alt="" class="w-full h-full rounded-t-lg">
            </div>
            <div class="px-6">
                <h2 class="pt-5 mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ document.title }}</h2>
                <div class="h-28">
                    <p class="mb-3 text-sm font-normal text-gray-500">{{ document.description }}</p>
                </div>
                <div class="grid grid-cols-2 mb-4">
                    <div>
                        <p class="text-gray-600/40">{{ document.author }}</p>
                        <p class="mb-3 text-sm font-normal text-gray-700 dark:text-gray-400">#{{ document.category }}</p>
                    </div>
                    <div class="w-24 justify-self-end mr-4">
                        <a href="{{ document.location }}" class="btn btn-outline rounded-full btn-info btn-sm" role="button" aria-pressed="true">Ubicación</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>

  {% endblock %}
